@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300&display=swap');
body {
    width: 80%;
    margin: auto;
    background: -moz-linear-gradient(to right,rgba(0, 0, 255, 0.685),rgba(255, 255, 0, 0.781));
}
h1 {
    color: #7f4f24;
    text-align: center;
    text-shadow: 6px 8px 8px #666b53e0 ;
    font-family: 'Mochiy Pop P One', sans-serif;
}
input {
    border-radius: 20px;

}
select {
    border-radius: 10px;
}
label {
    font-weight: bold;
}
fieldset {
    border-radius: 20px;
    color: whitesmoke;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    border-collapse: collapse;
    
}
legend {
    font-weight: bold;

}

table, th, td {
    border:1px solid rgba(241, 235, 235, 0.459);
    border-collapse: collapse;
}
table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

}
th {
    background-color: #656d4a;
    font-size: 1.3em;
    line-height: 1.4em;
}
tr:nth-of-type(even) {
    background-color: #a4ac86;
}
td {
    line-height: 1.4em;
    text-align: center;
}
form {
    background-image: url(./table4.jpg);
    background-size: 50%;
    border-radius: 20px;
    overflow: hidden;
    object-fit: contain;
    background-repeat: inherit;
}
textarea, input, select {
    background: rgba(240, 237, 237,0.80);
}
span {
    position: relative;
    animation: move 3s linear infinite;
}

span:first-of-type {
    animation-delay: 1s;
}
span:nth-of-type(2) {
    animation-delay: 2s;
}
span:last-of-type {
    animation-delay: 3s;
}
@keyframes move {
    0% {opacity: 1;}
    100% {opacity: 0;}
}